body {
	font-family: Tahoma, Courier New, arial, serif;
	font-size: 16px;
	margin: 0px;
}
#header {
	margin-top: 47px;
	margin-left: 60px;
}
#body {
	width: 1220px;
	position: relative;
}
#main {
	width: 720px;
	padding-top: 40px;
	padding-left: 25px;
	float: left;
}
#main p {
	margin: 20px;
}
#ribbon {
	left: 0px;
	width: 760px;
	height: 108px;
	color: #FFFFFF;
	background-color: #000000;
	position: relative;
	clear: both;
}
#ribbon p {
	font-size: 18px;
	padding-top: 25px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 18px;
}
#ribbon img {
	position: absolute;
	top: 0px;
	right: 0px;
}
#blog {
	position: absolute;
	right: 0px;
	width: 389px;
	margin-top: 27px;
	font-size: 18px;
	font-family: Times;
}
#blog #blackbar {
	background-color: #000000;
	height: 7px;
	margin-left: 5px;
}
#blog a {
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	right: 20px;

}
a {
	color: #000000;
	text-decoration: none;
}
#feed {
	margin-top: 10px;
	margin-left: 6px;
	width: 380px;
	max-height: 400px;
	overflow: hidden;
}
#footer {
	clear: both;
	width: 100%;
	top: 70px;
	position: relative;
}
#menu {
	font-size: 22px;
	margin-bottom: 8px;
}
#menu ul {
	border: none;
	text-align: center;
	margin: 10px;
}
#menu ul li {
	margin-left: 0px;
	padding-left: 2px;
	border: none;
	display: inline;
	list-style-image: url(../images/bullet.png); 
	list-style-type: square;
}
#footer #blackbar {
	background-color: #000000;
	height: 30px;
}
