body {
margin: 0;
padding: 0;
}

.centered {
text-align: center;
}

#content {
width: 1200px;
font-family: Lato;
font-size: 1.1em;
margin: 30px 30px 0 30px;
}

#blog {
float: right;
width: 400px;
margin: 0;
padding: 0;
}

#blog h2 {
margin: 0.5em 0 0.5em 0;
font-size: 1.2em;
}

#blog a {
float: right;
margin: 0.3em 0 0.3em 0;
color: #000;
text-decoration: none;
}

#blog #blackbar {
background-color: #000;
height: 6px;
}

#blog img {
max-width:389px;
}

#main{
position: relative;
margin: 10px 460px 0 0;
padding-top: 40px;
}

#main p {
margin: 0 0 1em 0;
}

#ribbon {
position: relative;
left: -30px;
width: 770px;
height: 108px;
margin-top: 2em;
color: #fff;
background-color: #000;
font-size: 1.1em;
font-weight: 300;
}

#ribbon img {
float: right;
}

#ribbon p {
padding: 1.2em 0 0 30px;
}

#footer {
clear: both;
margin-top: 3em;
}

#menu {
margin-bottom: 1em;
}

#menu ul {
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#menu ul li {
display: inline;
font-size: 1.5em;
font-weight: 300;
}

#menu ul li a {
color: #000;
text-decoration: none;
padding: .2em 1em;
}

#menu #email {
float: right;
font-size: 1.5em;
font-weight: 300;
}

#footer #blackbar {
position: relative;
top: 0px;
left: -30px;
width: 1260px;
height: 30px;
background-color: #000;
}